<?xml version='1.0' encoding='utf-8'?>
<configuration>
<appSettings/>
<connectionStrings/>
<system.web>
<authorization>
  <!--
  <allow roles='admin' />
  <allow users='wttest' />
  <allow users='wt2014' />
  <allow users='wt' />
 
  <deny users=' * ' /> -->
</authorization>
</system.web>
</configuration>
