html, body { height: 100%; background: #eeeeee; font-family: "微軟正黑體";}
#wrap { padding:12px;}
.modal-dialog { width: 80%!important; }
.tab-content div { border:solid 1px #E0E0E0; border-top: none; padding: 12px; background: #F9F9F9; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: #555; background-color: #F9F9F9; border: 1px solid #ddd; border-bottom-color: transparent; }
.nav-tabs > li > a { margin-right: 2px; line-height: 1.428571429; border: 1px solid transparent; border-radius: 4px 4px 0 0; }

input[type=checkbox] {width:22px!important; }
input[type=radio] {width:22px!important; display:inline-block; }
span.titl { display:inline-block; width:86px; margin-left:4px; margin-right:4px; font-weight:bold; }
span.desc { display:inline-block; margin-right:6px; font-weight:bold;}
.input-zone { margin-top:12px; border-style:none!important; }
.input-zone input, .input-zone select { display:inline-block!important; width:15%; margin-right:12px; }

.glyphicon-transfer{ color: #0099ff; cursor: pointer; }
.glyphicon-floppy-search { color: #0099ff; cursor: pointer; }
.glyphicon-floppy-disk { color: #669900; cursor: pointer; }
.glyphicon-remove { color: #CC0000; cursor: pointer; }
.glyphicon-plus { color: #669900; cursor: pointer; }
.glyphicon-pencil { color:#0094ff;}
.glyphicon-pencil:hover{ cursor:pointer; }
.glyphicon-envelope:hover{ cursor:pointer; }
.ui-datepicker { background:#F9F9F9; }
.ui-datepicker-header { color:#ffffff;}
.ui-timepicker-table td a { width: 2.2em!important; }

.glyphicon-floppy-disk {
    color: #fff;
    cursor: pointer;
}

.glyphicon-remove {
    color: #fff;
    cursor: pointer;
}

.error, .warning, .wrong { color:red; font-size:12px;}
.cmt {color:#c0c0c0; font-size:12px; margin-left:2px;}
.emptydata {color:#E60000; }

.yes { color: #669900; }
.no { color: #CC0000; }

.line {margin-top:16px; margin-bottom:24px; border-bottom:solid 1px #c0c0c0; }
.totalRow { margin:12px 8px 8px 12px; color:#c0c0c0;}